a { 
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #FFE4EB;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body-course {
    background-color: #FFFCE4;
}

.body-proj {
    background-color: #E2F1FF;
}

.content {
    padding: 0px 32px;
}

.nav-bar {
    background-color: #EE0058;
    display: flex;
}

.nav-bar p {
    font-size: 20px;
    font-weight: bold;
}

.nav-course-bar {
    background-color: #FCD000;
}

.nav-proj-bar {
    background-color: #0E82F0;
}

.project {
    margin: 40px 0px;
}

.project .logo {
    text-align: center;
}

.project .logo img {
    max-width: 90%;
}

.project .proj-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.project .tech {
    font-weight: bold;
}

.quarter {
    margin: 40px 0px;
}

.quarter .instruct {
    font-weight: bold;
}

.quarter .quarter-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.quarter .subject {
    font-weight: bold;
}

.top-bar {
    align-items: center;
    background-color: #FF0059;
    display: flex;
}

.top-bar .links {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.top-bar .links a {
    padding: 0px 4px;
}

.top-bar p {
    font-size: 28px;
    font-weight: bold;
}

.top-course-bar {
    background-color: #FDE200;
}

.top-proj-bar {
    background-color: #0092FF;
}

.timeline {
    margin: 40px 0px;
}

.timeline .info {
    align-items: center;
    display: flex;
}

.timeline .info .desc {
    flex: 1;
    padding: 0px 4px;
}

.timeline .info .logo {
    flex: 1;
    padding: 0px 4px;
    text-align: center;
}

.timeline .info .logo img {
    max-width: 90%;
}

.timeline .period {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px;
    text-align: center;
}

.welcome {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}