a { 
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #FFF0F4;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    padding: 0px 32px;
}

.footer {
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
}

h3 {
    color: midnightblue;
}

img {
    vertical-align: bottom;
}

.nav-bar {
    background-color: #EE0058;
    display: flex;
}

.nav-bar p {
    font-size: 24px;
    font-weight: bold;
}

.project {
    margin: 32px 0px 64px;
}

.project .logo {
    text-align: center;
}

.project .logo img {
    max-width: 90%;
}

.quarter {
    margin: 32px 0px 64px;
}

.quarter .subject {
    margin: 0px 0px 32px;
}

.top-bar {
    align-items: center;
    background-color: #FF0059;
    display: flex;
}

.top-bar .links {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.top-bar .links a {
    padding: 0px 4px;
}

.top-bar p {
    font-size: 32px;
    font-weight: bold;
}

.timeline {
    margin: 60px 0px;
}

.timeline .info {
    align-items: center;
    display: flex;
}

.timeline .info .desc {
    flex: 1;
    padding: 0px 4px;
}

.timeline .info .logo {
    flex: 1;
    padding: 0px 4px;
    text-align: center;
}

.timeline .info .logo img {
    max-width: 90%;
}

.timeline .period {
    font-size: 20px;
    margin: 20px 0px;
    text-align: center;
}

.welcome {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}